# SPDX-FileCopyrightText: 2026 Progmasoft <support@progmasoft.com>
# SPDX-License-Identifier: MPL-2.0 WITH AdditionRef-Progmasoft-Exception-1.0

.gradle/
.idea/
.vscode/
build/
out/
**/build/
**/bin/
compile_commands.json
